@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

.ant-menu-dark .ant-menu-item-selected a {
  color: #fff;
}
